*{
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  letter-spacing: -0.5px;
  font-size: 1.1em;
}
body.snap-parent{
  /* -webkit-scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory; */
  scroll-snap-type: y proximity;
}


a{
    color: inherit;
}

p{
  position: relative;
  padding: 2px 8px;
}

small{
  position: relative;
  display: inline-block;
  padding:4px 8px;
  font-size: 0.9rem;
  letter-spacing: normal;
}

header{
  position: fixed;
  z-index: 4;
  right: 25px;
  color: rgba(0,0,0,0.1);
  opacity: 0;
  transform: rotate(90deg) translateX(100%);
  transform-origin: right;
}
header.scrolled{
  opacity: 1;
}

nav ul{
  display: flex;
  flex-direction: row;
  padding: 0;
}

nav li{
  list-style: none;
  text-decoration: none;
  color: rgba(0,0,0,0.7);
  padding: 3px 10px;
}
nav a:hover{
  border-bottom: 3px solid rgba(255, 0, 153, 0.9);
  /* color: rgba(255, 0, 153, 0.9); */
}
nav a{
  border-bottom: 3px solid rgba(255, 0, 153, 0);
  /* background-color: rgba(255, 255, 255, 0.1); */
}


section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px 5vw 50px 5vw;
  /* border-top: 10px solid #333333; */
  overflow: hidden;
  height: auto;
  min-height: 100vh;
  background-color: white;
}

section.snap{
  scroll-snap-align: start;
}

section h2, footer h2{
  top: 60px;
  position: absolute;
  align-self: center;
  font-size: 1.8rem;
  font-weight: 300;
}

section h2 span{
  position:absolute; /*allows an offset for targeting the links */
  top:-50px;
}

.card{
  padding: 5px;
  min-width:300px;
  max-width:430px;
  text-align: left;
}

.card .card-title{
  padding: 5px 10px 5px 8px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .card-subtitle{
  background-color: rgba(255, 0, 153, 0.7);
}

.card p{
  display: inline-block;
  font-size: 1.1rem;
}

.card > *{
  border-left: 3px solid black;
}

.card-left{
  text-align: right;
}
.card-left > *{
  border-right: 3px solid black;
  border-left: 0;
}


#section-one{
  align-items: flex-start;
  justify-content: center;
  animation-name: background-movement;
  animation-iteration-count: infinite;
  background: 
  linear-gradient(70deg, transparent 34.5%, rgba(255, 0, 153, 0.9) 35%, rgba(255, 0, 153, 0.9) 60%, transparent 60.5%), 
  linear-gradient(70deg, transparent 49.5%, rgba(110, 13, 208, 0.9) 50%, rgba(110, 13, 208, 0.9) 80%, transparent 80.5%), 
    #fff
    /* linear-gradient(-70deg, #ffffff 0%, #ffffff 19.5%, rgba(110, 13, 208, 0.7) 20%, rgba(255, 0, 153, 0.7) 50%, rgba(255, 102, 0, 0.7) 80%, #ffffff 80.5%, #ffffff 100%),  */
    url(img/map.jpg);
  background-size: cover;
  background-blend-mode:screen;
  background-position: bottom;
  background-attachment: fixed;
  padding: 15vh 10vw;
  border:0;
  min-height: calc(100vh + 5px);
  background-color: initial;
  border-bottom: 5px solid black;
  animation: fade-in 5s;
}
#section-one h1.title{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px 12px;
  letter-spacing: -5px;
  font-family: 'Raleway', sans-serif;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: -3px;
  display: inline-block;
}


#section-one .subtitle{
  font-size: 2em;
  background-color: rgba(220, 220, 220, 0.8);
  padding: 2px 15px;
  letter-spacing: -2px;
}
#section-one .more{
  position: absolute;
  align-self: center;
  bottom: 80px;
  width:50px;
  height:50px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  transform: rotate(-45deg);
}


/* About me section */

#section-two{
  flex-direction: row;
} 

#section-two span.bio{
  max-width: 550px;
  column-width: 24ch;
  column-gap: 40px;
  text-align: justify;
  column-fill: balance;
  padding: 0 5vw;
}

#section-two span.bio p{
  padding-bottom: 15px;
}

#section-two .highlights{
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#section-two .card{
  max-width:330px;
}


/* Skills section */

#section-three .skill-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


#section-three .card{
  max-width: calc(80vw / 2);
}


/* Project section */
#section-five{
  display: flex;
  flex-direction: row;
}
#section-five-links{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column; 
  min-width: 215px;
}
#section-five-links a{
  background-color: rgba(200, 200, 200, 0.5); 
  border-left: 3px solid rgba(200, 200, 200, 0.5);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 8px;
  margin: 2px 2px;
  cursor: pointer;
}
#section-five-links a.active{
  border-color: rgba(255, 0, 153, 0.9);
}

#section-five-content{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column; 
  max-width: 400px;
}
#section-five-content > *{
  border-color: rgba(255, 0, 153, 0.9);
  background-color: rgba(255, 0, 153, 0.7);
  padding: 5px 8px;
}

#section-five-content .portfolio-title{
  background-color: rgba(200, 200, 200, 0.5);
  text-transform: uppercase;
  letter-spacing: 2px;
}
#section-five-content .portfolio-tech{
  background-color: rgba(255, 102, 0, 0.9);
}

#section-five-content .portfolio-image{
  max-width: 300px;
  padding: 0;
}


/* Personal section */
#section-four-content{
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 350px));
  grid-gap: 5vw;
}


/* Footer --------------------------------------------------- */
footer{
  position: relative;
  background-color: #333333;
  padding: 100px 5vw 20px 5vw;
  overflow: hidden;
}

footer #footer-content{
  position: relative;
  z-index: 3;
}

footer p{
  padding: 2px 0;
}

footer a, footer h2, footer{
  color: #dddddd;
}


#copyright-statement{
  color: #999999;
}
.footer-line{
  width:100%;
  height:2px;
  background-color: #999999;
  margin: 20px 0 10px 0;
}



@media screen and (max-width: 600px) {
  #main-menu{
    width: 90%;
  }
  #main-menu.show{
    right: 0;
  }
  #section-one h1.title{
    font-size: 3em;
  }
  #section-one .subtitle{
    font-size: 1.4em;
  }

  #section-two{
    flex-direction: column;
  }
  #section-two .highlights{
    align-self: unset;
  }
  #section-two span.bio{
    width: inherit;
  }

  #section-three .skill-wrapper{
    flex-direction: column;
    align-items: center;
  }
  #section-five{
    flex-direction: column;
  }
  #section-five-links{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  #section-five-content{
    max-width: initial;
  }
  #section-four-content{
    grid-template-columns: 1fr;
  }
}



.decoration{
  position: absolute;
  opacity: 0.5;
  top: 0px;
  border: 0px solid black;
  transform:skewX(-20deg);
  z-index: 1;
  animation-name: movement;
  animation-iteration-count: infinite;
  height: 100%;
}

section *:not(.decoration){
  z-index: 3;
}

.odd{
  animation-name: odd-movement;
}

.neon-pink, .pink-card > *{
  background-color: rgba(255, 0, 153, 0.7);
  /* ff0099 */
}
.neon-yellow, .yellow-card > *{
  background-color: rgba(243, 243, 21, 0.7);
}
.neon-blue, .blue-card > *{
  background-color: rgba(20, 255, 218, 0.7);
}
.neon-green, .green-card > *{
  background-color: rgba(131, 245, 44, 0.7);
}
.neon-purple, .purple-card > *{
  background-color: rgba(110, 13, 208, 0.7);
}
.neon-orange, .orange-card > *{
  background-color: rgba(255, 102, 0, 0.9);
}
.grey-light, .grey-light-card p, .grey-light-card small{
  background-color: rgba(200, 200, 200, 0.7);
}
.grey-mid{
  background-color: rgba(150, 150, 150, 0.7);
}
.grey-dark{
  background-color: rgba(100, 100, 100, 0.7);
}
.grey-extradark{
  background-color: rgba(10, 10, 10, 0.7);
}


@keyframes movement {
  from {transform: translateX(-300px) skewX(-20deg);}
  to {transform: translateX(300px) skewX(-20deg);}
}
@keyframes odd-movement {
  from {transform: translateX(-300px) skewX(20deg);}
  to {transform: translateX(300px) skewX(20deg);}
}
@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}