*{
  margin: 0px;
  font-family: segoe UI, sans-serif;
  text-decoration: none;
}

body{
    overflow-x: hidden;
}

a, a:visited{
    text-decoration: none;
    color: black;
}

.menu-burger{
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 3;
}

.burger-line{
  width:25px;
  height:3px;
  background-color: black;
  margin: 0px 0px 5px 0px;
}

.burger-white > .burger-line{
  background-color: white;
}

#header-band{
    position: absolute;
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    top:0px;
    z-index: 3;
    background-color: rgba(255,255,255,0.5);
}
#header-band.scrolled{
    position: fixed;
    background-color: white;
}

#header-text{
  text-align: center;
}

section{
  position: relative;
  padding: 10vh 10vw;
  min-height: 200px;
  color: white;
  background-color: grey;
  display: block;
  vertical-align: middle ;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Vertical center alignment */
  justify-content: center;
}

#section-one.map{
  background-image: linear-gradient(to right, #ffffff 0%, rgb(110, 13, 208) 20%, rgb(255, 0, 153) 50%, rgb(255, 102, 0) 80%, #ffffff 100%), url(img/map-city.png);
  background-size: cover;
  background-blend-mode:screen ;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 40vh;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.headline{
  color: #000000;
  padding: 10px;
  margin: 10px;
}
.section-title{
  padding-top: 10px;
  padding-bottom: 10px;
}

#section-three{
  background-image: linear-gradient(to right, black 10%, rgb(20, 255, 218) 70%, white 100%), url(img/viaduct-crop.png);
  background-size:cover;
  background-blend-mode:color-dodge;
  color: #000000;
}

#section-four{
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
}

#section-footer{
  background-color: #333333;
  padding: 5vh 10vw;
}

.project-title{
  margin-top: 3vh;
  padding: 1vh 1vw;
  border-left: 2px solid rgba(20, 255, 218, 0.6);
  background-color: rgba(200, 200, 200, 0.3);
}
.project-description{
  border-left: 2px solid rgba(20, 255, 218, 0.6);
  padding: 1vh 1vw;
  background-color: rgba(20, 255, 218, 0.4);
}

#main-menu{
  display: none;
}
#main-menu.show{
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  right: 0px;
  top:0px;
  background-color: rgba(2,2,2, 0.7);
  padding: 50px 0px 50px 0px;
  z-index: 3;
  text-align: right;
}

.menu-item{
  padding: 0px 40px 10px 40px;
  border-left: 12px solid rgba(20, 255, 218, 0);
  list-style: none;
  text-decoration: none;
}

.menu-item:hover{
  border-left-color: rgba(20, 255, 218, 1);
}

.menu-item > a{
  color: white;
  font-size: 2.5rem;
}

.decoration{
  position: absolute;
  opacity: 0.7;
  top: 0px;
  border: 0px solid black;
  transform:skewX(-20deg);
}

section > :not(.decoration) {
  z-index: 2;
}

.odd{
  transform:skewX(20deg);
}

.neon-pink{
  background-color: rgba(255, 0, 153, 0.6);
}
.neon-yellow{
  background-color: rgba(243, 243, 21, 0.6);
}
.neon-blue{
  background-color: rgba(20, 255, 218, 0.6);
}
.neon-green{
  background-color: rgba(131, 245, 44, 0.6);
}
.neon-purple{
  background-color: rgba(110, 13, 208, 0.6);
}
.neon-orange{
  background-color: rgba(255, 102, 0, 0.6);
}
.grey-light{
  background-color: rgba(200, 200, 200, 0.6);
}
.grey-mid{
  background-color: rgba(150, 150, 150, 0.6);
}
.grey-dark{
  background-color: rgba(100, 100, 100, 0.6);
}
.grey-extradark{
  background-color: rgba(10, 10, 10, 0.6);
}
