*{
  margin: 0;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: -0.5px;
}

a{
    color: black;
}

/* Main menu header */
h1{
  z-index: 5;
  display: inline-block;
  font-size: 2rem;
  padding-left: 40px;
  padding-top: 2px;
  font-family: 'Permanent Marker', cursive;
}

h2{
  position: relative;
  font-size: 1.8rem;
  padding:5px 8px;
}

h3{
  position: relative;
  font-size: 1.6rem;
  padding:5px 10px 5px 8px;
  display: inline-block;
  font-family: 'Permanent Marker', cursive;
}

p{
  position: relative;
  font-size: 1.2rem;
  padding:2px 8px;
  display: inline-block;
}

small{
  position: relative;
  padding:4px 8px;
  display: inline-block;
  font-size: 1rem;
  letter-spacing: normal;
}

h2 span{
  position:absolute; /*allows an offset for targeting the links */
  top:-85px;
}

.menu-burger{
  position: relative;
  z-index: 4;
  cursor: pointer;
  float: right;
  margin: 15px 10px 0 0;
}

.menu-burger div{
  width:25px;
  height:3px;
  background-color: black;
  margin-bottom: 5px;
  transition: color, 3s;
}

.burger-white > div{
  background-color: rgba(255, 0, 153, 1);
  transition: color, 1s;
}

#header-band{
    position: fixed;
    width: 100%;
    font-size: 1.3rem;
    top:0px;
    z-index: 4;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    transition: all, 0.5s;
    border-bottom: 8px solid rgba(10, 10, 10, 0);
    padding-top: 5px;
}
#header-band.scrolled{
    background-color: white;
    transition: all, 0.5s;
    border-bottom: 8px solid rgba(10, 10, 10, 1);
}

section{
  position: relative;
  padding: 5vh 5vw 10vh 5vw;
  background-color: grey;
  border-top: 10px solid #333333;
  overflow: hidden;
}

#section-one{
  background-image: linear-gradient(to right, #ffffff 0%, rgb(110, 13, 208) 20%, rgb(255, 0, 153) 50%, rgb(255, 102, 0) 80%, #ffffff 100%), url(img/map-city-comp.jpg);
  background-size: cover;
  background-blend-mode:screen;
  background-position: bottom;
  padding: 15vh 5vw 10vh 5vw;
  border:0;
}
#section-one-content{
  display: flex;
  align-content: stretch;
  justify-content: space-around;
  flex-flow:  row wrap;
  min-height: 65vh;
}
.more{
  width:50px;
  height:50px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  transform: rotate(-45deg);
  margin: 0 auto;
  display: block;
}

#section-one-content > div{
  padding: 5px;
  max-width:330px;
  text-align: left;
  margin: auto;
}

#section-one-content h3, #section-one-content p, #section-one-content small {
  border-left: 3px solid black;
}


/* About me section */
#section-two h2, #section-two p{
  color: white;
  padding-left: 0;
}


/* Project section */
#section-three{
  background-image: linear-gradient(to right, black 10%, rgb(20, 255, 218) 70%, white 100%), url(img/viaduct-crop.png);
  background-size:cover;
  background-blend-mode:color-dodge;
}
#section-three-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1em;
}
#section-three-content h3, #section-three-content p, #section-three-content small{
  border-left: 3px solid rgba(255, 0, 153, 0.9);
}
#section-three h3{
  background-color: rgba(200, 200, 200, 0.5); /* H3 colour override */
  font-family: 'Quicksand', sans-serif;
}


/* Personal section */
#section-four-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1em;
}
#section-four-content h3, #section-four-content p, #section-four-content small{
  border-left: 3px solid black;
}

/* Footer --------------------------------------------------- */
footer{
  position: relative;
  background-color: #333333;
  padding: 5vh 5vw 20px 5vw;
  border-top: 10px solid #333333;
  overflow: hidden;
}

#footer-content{
  position: relative;
}

footer a, footer h2, footer{
  color: #dddddd;
}
footer i{
  padding-right: 5px;
}
#contacts-social{
  position: relative;
  font-size: 1.2rem;
  float: right;
  padding: 5px 8px;
}
#copyright-statement{
  color: #999999;
}
.footer-line{
  position: relative;
  width:100%;
  height:2px;
  background-color: #999999;
  margin: 20px 0;
}


#main-menu{
  position: fixed;
  right:-400px;
  width:300px;
  padding: 0 0 10px 20px;
  transition: all, 2s;
  visibility: collapse;
  background-color: rgba(90, 90, 90, 0.95);
  z-index: 3;
  height:100%;
}
#main-menu.show{
  right:0px;
  visibility: visible;
  transition: all, 1s;
}
#main-menu ul, #main-menu h2{
  padding:0;
}

#main-menu li{
  list-style: none;
  text-decoration: none;
  position: relative;
  border-left: 10px solid rgba(255, 0, 153, 1);
}
#main-menu li::before{
  content: "";
  width: 18px;
  height:10px;
  background-color: rgba(255, 0, 153, 1);
  position: absolute;
  left:-10px;
  top: 30px;
}

#main-menu li:last-of-type{
  height:150px;
  border-left: 10px dashed rgba(255, 0, 153, 1);
  border-bottom: 10px dashed rgba(255, 0, 153, 1);
  border-radius: 0 0 10px 40px;
}

#main-menu a{
  padding: 10px 0;
  margin: -30px 10px 0 16px;
  color: white;
  display: block;
  transition: all, 1s;
  font-size: 1.5em;
}

#main-menu a:hover{
  color: rgba(255, 0, 153, 1);
  transition: all, 1s;
}

#main-menu p{
  padding: 0 0 20px 0;
  display: block;
}

#main-menu li:first-of-type{
  padding-top: 120px;
}
#main-menu li:first-of-type:before{
  margin-top: 96px;
}




@media screen and (max-width: 600px) {
  #main-menu{
    width: 90%;
  }
  #main-menu.show{
    right: 0;
  }
}



.decoration{
  position: absolute;
  opacity: 0.7;
  top: 0px;
  border: 0px solid black;
  transform:skewX(-20deg);
  z-index: 1;
}

section :not(.decoration), footer :not(.decoration){
  z-index: 2;
}

.odd{
  transform:skewX(20deg);
}

.neon-pink, .pink-container h3, .pink-container p, .pink-container small{
  background-color: rgba(255, 0, 153, 0.6);
}
.neon-yellow, .yellow-container h3, .yellow-container p, .yellow-container small{
  background-color: rgba(243, 243, 21, 0.6);
}
.neon-blue{
  background-color: rgba(20, 255, 218, 0.6);
}
.neon-green, .green-container h3, .green-container p, .green-container small{
  background-color: rgba(131, 245, 44, 0.6);
}
.neon-purple, .purple-container h3, .purple-container p, .purple-container small{
  background-color: rgba(110, 13, 208, 0.6);
}
.neon-orange{
  background-color: rgba(255, 102, 0, 0.6);
}
.grey-light, .grey-light-container h3, .grey-light-container p, .grey-light-container small{
  background-color: rgba(200, 200, 200, 0.6);
}
.grey-mid{
  background-color: rgba(150, 150, 150, 0.6);
}
.grey-dark{
  background-color: rgba(100, 100, 100, 0.6);
}
.grey-extradark{
  background-color: rgba(10, 10, 10, 0.6);
}
